@import 'bootstrap/dist/css/bootstrap.css';
@import url(https://fonts.googleapis.com/css?family=Inconsolata:200,300,regular,500,600,700,800,900);

html,
body {
  padding: 0;
  margin: 0;
  font-family:'Inconsolata', monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f0f4f4;
}

#signinbtn {
  width: 99px;
  font-family: 'Inconsolata', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 140px;
  background-color: rgb(209, 82, 32);
  border: 2px solid white; 
  color: white;
  padding: 10px 0;
  border-radius: 20px;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2);
}

#signinbtn:hover {
  width: 99px;
  font-family: 'Inconsolata', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 140px;
  background-color: rgb(245, 204, 188);
  border: 2px solid white; 
  color: black;
  padding: 10px 0;
  border-radius: 20px;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2);
}

#authpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 38%;
  padding-top: 15%;
}

#landingpage {
  display: flex;
  padding-top: 30px;
}

#rightside {
  padding-left: 130px;
  font-size: 15px;
}

#newentrybtn {
  width: 140px;
  justify-content: center;
  align-items: center;
  background-color: rgb(209, 82, 32);
  border: 2px solid white; 
  color: white;
  border-radius: 20px;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2);
}

#viewarchivebtn {
  width: 140px;
  justify-content: center;
  align-items: center;
  background-color: rgb(209, 82, 32);
  border-radius: 20px;
  border: 2px solid white; 
  color: white;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2);
}

#viewarchivebtn:hover {
  width: 140px;
  justify-content: center;
  align-items: center;
  background-color: rgb(209, 82, 32);
  border-radius: 20px;
  border: 2px solid white; 
  color: white;
  box-shadow: 0 10px 8px 0 rgb(148, 143, 143);
}

#newentrybtn:hover {
  width: 140px;
  justify-content: center;
  align-items: center;
  background-color: rgb(209, 82, 32);
  border-radius: 20px;
  border: 2px solid white; 
  color: white;
  box-shadow: 0 10px 8px 0 rgb(148, 143, 143);
}

.archive {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-container {
  width: 370px;
  margin: 10px 1.5%;
  padding: 10px;
}

.detailcard {
    max-width: 480px;
  }

  #detailcontainer {
    display: flex;
    justify-content: center;
  }

  #view {
    background-color: white;
    border-color: white;
  }

  #edit {
    background-color: white;
    border-color: white;
  }

  #delete {
    background-color: white;
    border-color: white;
  }

  #button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  #createpage {
    display: flex;
    justify-content: center;
  }

  #createcollection{
  display: flex;
  justify-content: center;
  }

  #updatecollection{
    display: flex;
    justify-content: center;
  }

  #updatepage {
    display: flex;
    justify-content: center;
  }

  #edittitle {
    display: flex;
    justify-content: center;
  }

  #createtitle {
    display: flex;
    justify-content: center;
  }

  #buildingdetailtitle {
    display: flex;
    justify-content: center;
  }

  #archivetitle {
    display: flex;
    justify-content: center;
  }

  #submit {
    display: flex;
    width: 140px;
    justify-content: center;
    align-items: center;
    background-color: rgb(209, 82, 32);
    border: 2px solid white; 
    color: white;
    border-radius: 20px;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2);
  }

  #submit:hover {
    width: 140px;
    justify-content: center;
    align-items: center;
    background-color: rgb(209, 82, 32);
    border-radius: 20px;
    border: 2px solid white; 
    color: white;
    box-shadow: 0 10px 8px 0 rgb(148, 143, 143);
  }

  .carousel-container {
    width: 525px;
    height: 700px;
    overflow: hidden;
  }
  
  .carousel-item {
    width: 525px;
    height: 700px;
  }
  
  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #choosetagsbtn {
    border-radius: 20px;
    border: 2px solid white; 
    background-color: gainsboro;
    
  }

  #remove {
    color: black;
    background-color: whitesmoke;
  }

  #remove:hover {
    border-color: rgb(208, 73, 19);
    background-color: rgb(208, 73, 19);
    color: white;
  }

  .custom-tooltip .tooltip-inner {
    background-color: #333;
    color: #fff;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 20px;
    padding: 10px;
  }
  
  .custom-tooltip .arrow::before {
    border-bottom-color: #333;
  }

.is-valid,
.was-validated .form-control:valid,
.was-validated .form-select:valid,
.was-validated .form-check-input:valid {
  border-color: black;
}

.is-invalid,
.was-validated .form-control:invalid,
.was-validated .form-select:invalid,
.was-validated .form-check-input:invalid {
  border-color: red;
}

.is-valid:focus,
.was-validated .form-control:valid:focus,
.was-validated .form-select:valid:focus,
.was-validated .form-check-input:valid:focus {
  border-color: black;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}

.is-invalid:focus,
.was-validated .form-control:invalid:focus,
.was-validated .form-select:invalid:focus,
.was-validated .form-check-input:invalid:focus {
  border-color: red;
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
}

#choosetagsbtn {
  margin-bottom: 10px;
}

#confirmdelete {
  display: flex;
  width: 100px;
  justify-content: center;
  align-items: center;
  background-color: rgb(209, 82, 32);
  border: 2px solid white; 
  color: white;
  border-radius: 20px;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2);
}

#confirmdelete:hover {
  width: 100px;
  justify-content: center;
  align-items: center;
  background-color: rgb(209, 82, 32);
  border-radius: 20px;
  border: 2px solid white; 
  color: white;
  box-shadow: 0 10px 8px 0 rgb(148, 143, 143);
}

#cancel {
  display: flex;
  width: 100px;
  justify-content: center;
  align-items: center;
  background-color: rgb(163, 163, 163);
  border: 2px solid white; 
  color: white;
  border-radius: 20px;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2);
}

#cancel:hover {
  width: 100px;
  justify-content: center;
  align-items: center;
  background-color: rgb(163, 163, 163);
  border-radius: 20px;
  border: 2px solid white; 
  color: white;
  box-shadow: 0 10px 8px 0  rgb(148, 143, 143);
}

#view:hover{
background-color:rgba(0, 0, 0, 0.2);
}

#edit:hover{
background-color:rgba(0, 0, 0, 0.2);
}
  
#delete:hover{
background-color:rgba(0, 0, 0, 0.2);
}
    
#searchresults {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#edit2:hover{
background-color:rgba(0, 0, 0, 0.2);
}

#delete2:hover{
background-color:rgba(0, 0, 0, 0.2);
}

.collection-detail {
  margin-top: 20px;
}

.collection-info {
  text-align: center;
  padding-top: 10px;
}

.building-list .row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-left: 115px;
}

.building-list .col-md-6 {
  flex: 1 0 calc(50% - 20px);
  max-width: calc(50% - 20px);
}

#columns{
  padding-left: 20px;
}

#newcollectionbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px auto; /* Center the button and add margin below */
  background-color: rgb(209, 82, 32);
  border: 2px solid white;
  font-size: 15px;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2);
}

#newcollectionbtn:hover {
    justify-content: center;
    align-items: center;
    background-color: rgb(209, 82, 32);
    border-radius: 20px;
    border: 2px solid white; 
    color: white;
    box-shadow: 0 10px 8px 0 rgb(148, 143, 143);
  }

  #collection-description {
    font-size: 1.1em;
    line-height: 1.5;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .archive {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  #archivetitle {
    text-align: center;
  }

  #collbuttons {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  margin-right: 50px;
  gap: 10px;
}

#viewcoll, #createcoll {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(209, 82, 32);
  border: 2px solid white;
  font-size: 15px;
  color: white;
  padding: 7px 20px;
  border-radius: 20px;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2);
}

#viewcoll {
  width: 170px;
}

#createcoll {
  width: 180px;
}

#viewcoll:hover, #createcoll:hover{
    justify-content: center;
    align-items: center;
    background-color: rgb(209, 82, 32);
    border-radius: 20px;
    border: 2px solid white; 
    color: white;
    box-shadow: 0 10px 8px 0 rgb(148, 143, 143);
}

.form-control {
  max-width: 1000px; /* Adjust the width as needed */
}
